{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
<div class="well">
<h3>Select a File for Upload</h3>
<form method="POST" enctype="multipart/form-data" action="">
    {{ form.csrf_token }}
    <div class="control-group">
        <div class="controls">
            <p>{{ form.upload_file }}</p>
     </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Go">
    </div></div>
</form>
{% endblock %}